.artist-top {
  width: 100%;
}
.artist-top img {
  width: 100%;
}

.artist-introduction {
  overflow: hidden;
}
.artist-introduction img {
  width: 100%;
}
.artist-portrait-container {
  width: 35%;
  float: left;
}
.artist-info-container {
  float: left;
  width: 64%;
}
.cv-year {
  display: inline-block;
  width: 25%;
  max-width: 7rem;
}
.cv-text {
  display: inline-block;
}
.artist-works img {
  width: 100%;
}
