.artist-top img {
  width: 100%;
}
.artist-top {
  width: 100%;
}
.artist-introduction {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  margin-right: 3%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.artist-introduction img {
  width: 100%;
}
.artist-portrait-container {
  width: 30%;
  float: left;
  margin: 2rem;
}
.artist-portrait-container img {
border-radius: 95%/100%;
}

.artist-info-container {
  width: 64%;
  height: 50%;
  letter-spacing: 0.5px;
  padding: 2rem;
}

#artist-name{
  font-size: 1.5rem;
  font-family: "HiraginoKG";
  font-weight: 400;
  font-size: 3rem;
  color: black;
}
#artist-name span{
  display: inline-block;
  white-space: nowrap;
}
#artist-info p{/*研究室、卒業*/
  margin: 0;
  color: rgb(84, 89, 90);
  font-size: 1.6rem;
  font-family: "HiraginoKG";
  font-weight: 100;
  padding-top: 0.2rem;
}

.artist-text{
  font-family: "HiraginoKG";
  font-weight: 200;
  padding: 5rem 5rem;
  max-width: 50rem;
}
.artist-text p{
  font-size: 1.5rem;
  font-family: "GillSans", "HiraginoKG"; /*Futuraもう一つ細くした*/
  font-weight: 400;
  font-size: 3rem;
  color: black;
}
.cv-wrapper{
  display: flex;
}
.cv-year {
  margin-right: 2.5rem;
}
#artist-theme, #artist-cv{
  margin-bottom: 10rem;
}
#artist-theme, .cv-year, .cv-text{
  color: rgb(84, 89, 90);
  font-family: "GillSans", "a-otf-gothic-bbb-pr6n";
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-align: justify;
}

.artist-works{
}
.artist-works img {
  width: 100%;
}


.artist-caption {
  position: relative;
  float: right;
  max-width: 35%;
  letter-spacing: 0.5px;
  color: rgb(84, 89, 90);
  margin-top: 1rem;
  margin-bottom: 10rem;
}
.artist-caption-past {
  position: relative;
  display: inline-block;
  width: calc(30% - 0.6rem);
  margin-left: 0.6rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  color: rgb(84, 89, 90);
}
.artist-caption p, .artist-caption-past p{
  margin: 0;
}
.artist-caption-title {
  font-size: 2.25rem;
  font-family: a-otf-futo-go-b101-pr6n;
  font-weight: 500;
  padding-bottom: 1.5rem;
}
.artist-caption-info{/*year / media / 出展*/
  font-size: 1.6rem;
  font-family: "futura-pt", "GillSans", "HiraginoKG";/*futura細いやつ入れた*/
  font-weight: 100;
  padding-top: 0.1rem;
}



/* スマホ */
@media screen and (max-width: 480px){

  .artist-introduction {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .artist-portrait-container {
    width: 40%;
    margin: 0.6rem;
  }
  .artist-info-container {
    width: 60%;
    height: 50%;
    letter-spacing: 0.5px;
    padding: 0.6rem;
  }
  .artist-text{
    padding: 0.6rem 0.6rem;
  }
  .artist-caption {
    max-width: 60%;
    margin-bottom: 2rem;
  }
  .artist-caption-past {
    margin-bottom: 40px;
  }

/*
.artist-portrait-container {
  width: 50%;
  float: left;
  margin: 0.5px;
  margin-left: 2%;
  margin-top: 5%;
}

.artist-info-container {
  margin: 0;
  padding: 0;
  margin-top: 5%;
  margin-left: 2%;
}

.name_modal {
  font-size: 5vw;
}
.info_modal {
  font-size: 3vw;
  line-height: 3.5vw;
}

.gaiyou_modal {
  font-size: 4vw;
  line-height: 4.5vw;
}

.title_modal {
  font-size: 5vw;
  line-height: 4.5vw;
}

.artist-caption {
  margin-left: 45%;
  width: 45%;
  font-size: 2.5vw;
}
.artist-caption-annotation {
  font-size: 2.5vw;

}
.artist-caption-title {
  font-size: 5vw;

}*/

}
