/*共通CSS*/
@import url("https://fonts.googleapis.com/css?family=Quicksand");

@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W1.woff) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W2.woff) format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W3.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W4.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W5.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W6.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "HiraginoKG";
  src: url(../fonts/HiraginoKG-W7.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue-Light-08.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue-01.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeue-Medium-11.woff) format("woff");
  font-weight: 500;
}

html {
  background: rgb(178, 178, 178);
}
html a {
  color: #0085ff;
  transition: 0.3s;
  text-decoration: none;
}
html a:hover {
  color: #9cceeb;
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(84, 89, 90);
  font-family: "a-otf-futo-go-b101-pr6n";
  scrollbar-width: thin;/*細さ*/
  scrollbar-color: #000000 #ffffff;/*つまみの色 軌道の色*/
}

body {
  scrollbar-face-color: #000000;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(0, 0, 0, 0); /*スクロールバーの背景色*/
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}

svg {
  /*svgの色をcolorプロパティを参照させる。*/
  fill: currentColor;
}
