#bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
}
#bg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}
.page-top {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
}
.box {
  width: calc(100vw - 0.5rem);
  height: 100vh;
  position: relative;
}
.logo {
  margin: auto;
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-visual{
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/mainvisual.png);
  background-size: 100% 100%;/*100%をautoにすると、画像の縦横比固定されるが、マージンの設定する必要あり。*/
  background-repeat: no-repeat;
  z-index: -1;
}
@media screen and (orientation: portrait) {
  /* 縦向きの場合のスタイル */
  .main-visual{
    background-image: url(../images/mainvisual_vertical.png);
    background-size: 100% 100%;
  }
}
.box img{/*タイトルテキスト*/
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title00 {
  color: #000000;
  font-family: "HiraginoW7", "HelveticaNeue", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  text-align: left;
}
.title00 span {
  display: inline-block; /*改行させない*/
}
.title01 {
  color: #000000;
  font-family: "HiraginoW4", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.8px;
  margin-bottom: 3rem;
}
.title01 img {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
  margin-bottom: -3.5rem;
}
.title01 span {
  display: inline-block; /*改行させない*/
}
.countdown {
  color: #000000;
  font-family: futura-pt, "HiraginoW2", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.8px;
  text-align: left;
  font-size: 3.2rem;
  margin-top: -0.5%;
  margin-left: -1%;
  margin-bottom: 0%;
}
.countdown span {
  font-size: 3.7rem;
}

/*span {
  display: inline-block;
}*/
.arrow-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 0;
}
.arrow0 {
  position:absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* background-color: #0085FF; */
}
.arrow0 img {
  position: static;
  display: inline-block;
  width: 10vw;
  /* max-width: 10rem; */
  /* min-width: 7rem; */
}
.arrow00 {
  color: #000000;
  font-family: "HiraginoW4", sans-serif;
  letter-spacing: 0.8px;
}
.arrow00 img {
  display: relative;
  width: 100%;
  height: auto;
  max-width: 100px;
  min-width: 10px;
}
.arrow {
  animation-name: arrow-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
@keyframes arrow-animation {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -15px);
  }
}

.middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  z-index: 1;
  /* background-color: blue; */
}
.margin {
  margin-top: 15%;
}

.title-box {
  width: 99%;
  height: auto;
  max-width: 900px;
  min-width: 300px;
  margin-top: 3%;
  /* margin-left: 0.6rem; */
  /* margin-right: 0.6rem; */
}

.backStr {
  position: absolute;
  display: inline;
  font-family: "HiraginoW4", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: rgb(178, 178, 178);
  top: 0%;
  text-align: center;
  white-space: nowrap;
}

.middle-box {
  position: relative;
  overflow: hidden;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.8);
  width: 99%;
  max-width: 900px;
  min-width: 300px;
  margin-bottom: -5%;
  margin-right: 0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 6px 6px #000000;
}
.middle-box-container {
  width: 96%;
  height: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  z-index: 50;
  /* background-color:tomato; */
  padding: 1.5rem;
}
.title_gaiyou {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: "HiraginoW7";
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.65px;
  line-height: 25px;
  margin-top: 0rem;
  text-align: left;
}
.details00 {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: "HiraginoW4";
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.65px;
  line-height: 25px;
  margin-top: 0rem;
  text-align: left;
}
#details00_detail {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.5rem;
}
#details00_detail span {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  line-height: 2.25rem;
}
.details00 table {
  width: 95%;
  table-layout: fixed;
}
.details00 td, th {
  padding: 0 0 0 0;
}

.map {
  position: relative;
  z-index: 100;
  width: calc(100% - 2rem);
  /* margin-top: -10px; */
  margin-bottom: -20px;
  margin-left: 1rem;
}
.map iframe {
  width: 95%;
  height: 200;
}
.details01 {
  color: #000000;
  font-family: "HiraginoW2";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.85px;
  /* margin-top: 10%; */
  margin-right: 10%;
}
.notes {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: "HiraginoW2";
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding-right: 0.6rem;
  text-align: justify;
}
.details01-s {
  color: #000000;
  font-family: "HiraginoW2";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1.25px;
  margin-left: 1rem;
  line-height: 2rem;
}
.details01-s span {
  font-weight: 500;
}
.margin-empty {
  margin-top: 35%;
}
.contact {
  color: #000000;
  font-family: "HiraginoW2";
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.95px;
  margin-top: 10%;
  margin-bottom: 5%;
  line-height: 1.75rem;
  text-align: center;
}
.contact span {
  font-size: 1.5rem;
}
.copyright {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 30rem;
}

.sns {
  margin-top: 10%;
}
.sns img {
  width: 100%;
  max-width: 50px;
  margin-right: 0.1rem;
}
.sns a:hover {
  position: relative;
  bottom: -2px;
  right: -2px;
}

th {
  white-space: nowrap;
}

.gaiyou-container{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.gaiyou-box{
  width: 85%;
  height: auto;
}
.gaiyou {
  position: relative;
  z-index: 100;
  color: #000000;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.75rem;
  line-height: 3rem;
  padding-right: 0.6rem;
  text-align: justify;
  margin-top: 5%;
  margin-bottom: 5%;
  text-indent: 1rem;
}

.middle__artists {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 5%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  z-index: 1;
  /* background-color: cyan; */
}

.artists{
  position: relative;
  margin-top: 0.5rem;
  width: 80%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* background-color: salmon; */
  z-index: 4000;
}
.artists a {
  text-decoration: none;
}

.artist-box {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  overflow: hidden;
  margin-bottom: 0.6rem;
  /* background-color: skyblue; */
}
.artist-box:hover {
  cursor: pointer;
  position: relative;
  bottom: -2px;
  right: -2px;
  opacity: 0.85;
}

.artist-picture {
  width: 100%;
  height: 100%;
}
.artist-picture img {
  width: 100%;
  height: auto;
  z-index: -0.5;
}

.artist-name{
  font-family: a-otf-midashi-go-mb31-pr6n, "HelveticaNeue", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5vw;
  z-index: 1;
  margin-top: -0.5vw;
  color: #000000;
}

/* #popup{
  width:90%;
  height: 90%;
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 1500px;
  min-width: 300px;
  margin-bottom: -5%;
  margin-right: 0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 6px 6px #000000;
}
input[type="checkbox"]{
  display:none;
}
/*checkboxがcheckの状態になったらpopupを表示させる*/
/* input[type="checkbox"]:checked + #popup{
  display:block;
} */



nav {
  position: fixed;
  width: 0%;
  height: 0%;
  z-index: 5000;
  /* background-color: darkcyan; */
}

#nv-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  position: fixed;
  right: 0;
  bottom: 0;
  /* background-color: darkcyan; */
  padding-left: 0px;
}

ul li {
  padding-bottom: 1.6rem;
  padding-right: 0.6rem;
  /* background-color: cyan; */
}

.nav1, .nav2, .nav3, .nav4 {
  position: relative;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 100%;
  width: 25px;
  height: 25px;
}


ul li a.current .nav1 {
  background-color: #F65353;
}
ul li a.current .nav2 {
  background-color: #9B00FF;
}
ul li a.current .nav3 {
  background-color: #0085FF;
}
ul li a.current .nav4 {
  background-color: #393939;
}


.js-modal-open {
  width: 100%;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  overflow: hidden;
}
.modal__bg{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0,0,0,0.8);
  height: 100vh;
  width: 100%;
  /* z-index: 6500; */
}

.modal__content{
  background: #fff;
  left: 20%;
  /* padding: 40px; */
  position: relative;
  top: 5%;
  /* transform: translate(-50%,-50%); */
  width: 60%;
  height: 90%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 6px 6px #000000;
  overflow: auto;
  /* z-index: 20; */
  /* z-index: 999999; */
  /* background-color: salmon; */
}

.closebutton-box {
  position: fixed;
  width: 30px;
  height: 30px;
  /* background-color: slateblue; */
  bottom: calc(5% + 10px);
  right: calc(20% + 10px);
}

.js-modal-close a#closebutton_link img {
  position: fixed;
  width: 30px;
  height: auto;
  /* bottom: 0;
  right: 0; */
  padding: 1.6rem;
}

/* .mpworks-area {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  text-align: center;
}
.mpworks-area img {
  width: 100%;
  height: auto;
} */


.works-name {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.5rem;
  color: #000000;
  right: 0;
  margin-left: 70%;
  /* margin-bottom: 20%; */
}
.works-name span {
  font-size: 2.25rem;
  font-weight: 900;
  margin-left: -0.25rem;
}

.wrapper__0 {
  width: 100%;
  height: 100%;
}

.face-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  /* background-color: aquamarine; */
  margin: 5%;
  margin-top: -3%;
  /* overflow: hidden; */
  /* flex: 9; */
}

.face-area img {
  width: 190px;
  height: auto;
  margin-bottom: 1.5rem;
}

.name {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  letter-spacing: 0.65px;
  font-size: 2.75rem;
  font-weight: 900;
  color: #000000;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.name_info {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.5rem;
  line-height: 2rem;
  /* font-weight: 900; */
  color: #000000;
  margin-top: 1rem;
  margin-left: 0.1rem;
}

.text-area {
  width: 80%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  margin-top: 2%;
  /* background-color: aquamarine; */
  /* margin-left: 5%; */
  /* margin-top: 5%; */
}

.midashi {
  color: #000000;
  font-family: "HiraginoW4", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
  margin-top: 0.5rem;
}

.texts {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10%;
}

.texts.cv {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  /* margin-left: -1.5rem; */
}

.text-area table {
  margin: 0 0 0 0;
  width: 110%;
}

.text-area td {
  padding-right: 1.5rem;
}

.text-area td span {
  font-weight: 900;
}

.kakoworks-area {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #2E3192;
  /* margin: 0 0 0 0; */
  /* margin-left: -1.5rem; */
  /* margin-bottom: 2rem; */
}
.kakoworks-area img {
  flex: 1;
  width: 100%;
  height: auto;
}