#bg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#bg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}
.page-top {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
}
#logo {
  color: white;
  position: absolute;
  width: 100%;
  z-index: 10;
}
#main-visual {
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/*ナビゲーション*/
nav {
  position: fixed;
  width: 0%;
  height: 0%;
  z-index: 5000;
}

#nv-wrapper {
  width: 100%;
  height: 100%;
}

#nv-wrapper ul {
  list-style: none;
  position: fixed;
  right: 0;
  bottom: 0;
  padding-left: 0px;
}

#nv-wrapper ul li {
  padding-bottom: 2rem;
  padding-right: 0.6rem;
}

.nav1,
.nav2,
.nav3,
.nav4 {
  position: relative;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}
.nav1 {
  color: #ff475a;
}
.nav2 {
  color: #60667e;
}
.nav3 {
  color: #5f5f5f;
}
.nav4 {
  color: #272727;
}

.nav1-current,
.nav1:hover {
  color: #ffa88d;
}
.nav2-current,
.nav2:hover {
  color: #83b1ff;
}
.nav3-current,
.nav3:hover {
  color: #c7cb9d;
}
.nav4-current,
.nav4:hover {
  color: #c6c6c6;
}

.title00 {
  color: #000000;
  font-family: "HelveticaNeue", "HiraginoKG", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  text-align: left;
}
.title00 span {
  display: inline-block; /*改行させない*/
}
.title01 {
  font-family: "HiraginoKG", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
  margin-bottom: 3rem;
}
.title01 span {
  display: inline-block; /*改行させない*/
}

.theme-title {
  color: #000000;
  font-family: "HelveticaNeue", "HiraginoKG", sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  letter-spacing: 0.65px;
  line-height: 25px;
  margin-bottom: 2rem;

  /* margin-bottom: 1rem; */
  text-align: left;
}

.arrow-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 0;
}
.arrow-top {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 50;
  /* background-color: #0085FF; */
}
.arrow {
  width: 10vw;
  max-width: 12rem;
  min-width: 7rem;
  color: white;
  animation-name: arrow-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
@keyframes arrow-animation {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -15px);
  }
}

.middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  z-index: 1;
  /* background-color: blue; */
}
.margin {
  margin-top: 15%;
}

.title-box {
  width: 99%;
  height: auto;
  max-width: 900px;
  min-width: 300px;
  margin-top: 3%;
  margin-bottom: 10rem;
  /* margin-left: 0.6rem; */
  /* margin-right: 0.6rem; */
}

.backStr {
  position: absolute;
  display: inline;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  line-height: 2.5rem;
  color: rgb(178, 178, 178);
  top: 0%;
  text-align: center;
  white-space: nowrap;
}

.middle-box {
  position: relative;
  overflow: hidden;
  z-index: 50;
  background-color: white;
  width: 80%;
  max-width: 900px;
  margin-bottom: -5%;
  margin-right: 0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0.9rem 1rem #000000;
  padding: 1.5rem;
}
.details00 {
  z-index: 100;
  color: #000000;
  font-family: "HelveticaNeue", "HiraginoKG", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.65px;
  line-height: 25px;
}
.details00 div {
  display: inline-block;
  vertical-align: top;
}
.details00-left {
  width: 10%;
  min-width: 6rem;
}
.details00-right {
  width: 85%;
  max-width: calc(95% - 6rem);
}
.notes {
  z-index: 100;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 200;
  letter-spacing: 0.85px;
  line-height: 1.8rem;
  font-size: 1.5rem;
  white-space: normal;
  color: rgb(84, 89, 90);
  font-family: "HiraginoKG", sans-serif;
  margin-top: 0.4rem;
}

#details00-detail {
  position: relative;
  z-index: 100;
  color: #000000;
  /* font-family: a-otf-gothic-bbb-pr6n, sans-serif; */
  letter-spacing: 0.65px;
  font-size: 1.5rem;
}
#details00-detail span {
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  line-height: 2.25rem;
}

.map {
  position: relative;
  z-index: 100;
  width: 100%;
  margin-bottom: -4px;
}
.map iframe {
  width: 95%;
  height: 200;
}
.caution-notes p {
  z-index: 100;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 200;
  letter-spacing: 0.85px;
  line-height: 2.25rem;
  font-size: 1.5rem;
  white-space: normal;
  /* color: #FF475A; */
  font-family: "HiraginoKG", sans-serif;
  margin-top: 0.4rem;
}
.caution-notes span {
  color: #ff475a;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.65px;
  line-height: 25px;
}
.booking-button-wrapper {
  width: 22rem;
  margin-top: 2rem;
  text-align: center;
}
.booking-button {
  padding: 3rem 5rem;
  border-radius: 1rem;
  /* background-color: rgb(82, 138, 199); */
  background-color: #ff475a;
  /* border: solid 0.5rem #FF475A; */
  transition: 0.3s;
  font-family: "HelveticaNeue", "HiraginoKG", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.65px;
  line-height: 25px;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
}
.booking-button-caption {
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 200;
  letter-spacing: 0.85px;
}
.booking-button div {
  display: inline-block;
}
.booking-button:hover {
  /* background-color: rgb(152, 192, 235); */
  opacity: 0.8;
}

.margin-empty {
  margin-top: 35%;
}
.contact-container {
  width: 100%;
  text-align: center;
}
.contact {
  display: inline-block;
  text-align: center;
  width: 20%;
  min-width: 27rem;
  color: #000000;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  letter-spacing: 0.95px;
  line-height: 1.75rem;
}
.copyright {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 30rem;
}

.sns img {
  width: 100%;
  max-width: 50px;
  margin-right: 0.1rem;
}
.sns a:hover {
  position: relative;
  bottom: -2px;
  right: -2px;
}

.gaiyou-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.gaiyou-box {
  width: 85%;
  height: auto;
  margin-left: 7.5%;
  margin-top: 6%;
  margin-bottom: 2%;
}
.gaiyou-box p {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 0.6rem;
}
.gaiyou {
  position: relative;
  color: rgb(84, 89, 90);
  font-family: "HelveticaNeue", "a-otf-gothic-bbb-pr6n", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 1.75rem;
  line-height: 3rem;
  text-align: justify;
  text-indent: 1rem;
}

.artists-header {
  width: 99%;
  max-width: 900px;
  min-width: 300px;
  margin-top: 3%;
  margin-bottom: -6rem;
}
.artists-header-namelist {
  font-family: "HiraginoKG", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 0.8px;
  margin-bottom: 5rem;
}
.artists-header-namelist span {
  display: inline-block; /*改行させない*/
}
.middle-artists {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top: 5%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  z-index: 1;
}
.artists {
  position: relative;
  margin-top: 0.5rem;
  width: 80%;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 4000;
}
.artists a {
  text-decoration: none;
}
.artist-box {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: left;
  overflow: hidden;
  margin-bottom: 0.6rem;
  /* background-color: skyblue; */
}
.artist-box:hover {
  cursor: pointer;
  position: relative;
  bottom: -2px;
  right: -2px;
  opacity: 0.85;
}
.artist-picture {
  width: 100%;
  height: 100%;
}
.artist-picture img {
  width: 100%;
  height: auto;
  z-index: -0.5;
}
.artist-name {
  font-family: "HelveticaNeue", "HiraginoKG";
  font-weight: 600;
  font-style: normal;
  font-size: 4.5vw;
  z-index: 1;
  margin-top: -0.5vw;
  color: #000000;
}

.js-modal-open {
  width: 100%;
}
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  overflow: hidden;
}
.modal-bg {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
}
.modal-content {
  background: #fff;
  left: 10%;
  position: relative;
  top: 5%;
  width: 80%;
  height: 90%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 1rem 1rem #000000;
  overflow-y: overlay; /*スクロールバーをオーバーレイする。webkit対応ブラウザのみ*/
}
.modal-content .closebutton img {
  position: fixed;
  width: 30px;
  height: 30px;
  right: calc(10% + 10px);
  bottom: calc(5% + 10px);
  z-index: 50000;
}
.js-modal-close a#closebutton-link img {
  position: fixed;
  width: 30px;
  height: auto;
  padding: 1.6rem;
}

/* アコーディオンのスタイルここから */
.accordion {
  max-width: 100%;
  margin-top: 1rem;
}
.accordion .accordion-header {
  background-color: #ff475a;
  color: #fff;
  font-family: "HelveticaNeue", "HiraginoKG", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.65px;
  line-height: 25px;
  /* padding: 20px 11%; */
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: left;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 1rem;
}
.accordion .accordion-header p {
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-family: "HiraginoKG", sans-serif;
  font-weight: 200;
  letter-spacing: 0.85px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}
.accordion .accordion-header:hover {
  opacity: 0.8;
}
.accordion .accordion-header .i-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}
.accordion .accordion-header .i-box .caution-i {
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}
.accordion .accordion-header.open .i-box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.accordion .accordion-header .i-box .caution-i:before,
.accordion .accordion-header .i-box .caution-i:after {
  display: flex;
  content: "";
  background-color: #fff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}
.accordion .accordion-header .i-box .caution-i:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.accordion .accordion-header.open .i-box .caution-i:before {
  content: none;
}
.accordion .accordion-header.open .i-box .caution-i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.accordion .accordion-inner {
  display: none;
  padding: 30px 30px;
  border-left: 2px solid #ff475a;
  border-right: 2px solid #ff475a;
  border-bottom: 2px solid #ff475a;
  box-sizing: border-box;
}
.accordion .accordion-inner .box-caution {
  height: auto;
}
/* .accordion .accordion-inner p.txt_a_ac {
  margin: 0;
} */
@media screen and (max-width: 1024px) {
  .accordion .accordion-header {
    font-size: 2rem;
  }
  .accordion .accordion-header .i-box {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
@media screen and (max-width: 767px) {
  .accordion .accordion-header {
    text-align: left;
    padding: 15px 60px 15px 15px;
  }
}
