@media screen and (max-width: 480px) {
  #logo {
    width: calc(100% - 1.2rem);
    padding: 0;
    margin: 0.6rem;
  }
  .top-header {
    position: relative;
    flex: 1;
    display: inline;
  }
  .arrow-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .backStr {
    font-size: 2.5vw;
    line-height: 3.25vw;
  }
  .middle-box {
    width: calc(100% - 5rem);
    box-shadow: 0.6rem 0.7rem #000000;
  }
  .title00 {
    font-size: 6.5vw;
  }
  .title01 {
    font-size: 4.3vw;
  }
  .theme-title {
    font-size: 6.5vw;
  }
  .details00 {
    font-size: 3.75vw;
    line-height: 4.5vw;
  }
  #details00-detail {
    letter-spacing: 0.65px;
    font-size: 3vw;
    display: inline-block;
  }
  .notes {
    font-size: 3.25vw;
    line-height: 4.5vw;
  }
  .margin-empty {
    margin-top: 40vw;
  }
  .sns img {
    width: 100%;
    min-width: 35px;
    margin-right: 0.1rem;
  }
  .arrow0 img {
    width: 20vw;
  }
  .arrow00 img {
    width: 100%;
    height: auto;
    max-width: 15vw;
    min-width: 10vw;
  }
  .gaiyou-box {
    width: 100%;
    margin-left: 0;
  }
  .gaiyou {
    font-size: 3.4vw;
    line-height: 5.4vw;
    margin-top: 8%;
    margin-bottom: 8%;
    letter-spacing: -0.1px;
  }
  .sns img {
    width: 100%;
    max-width: 25px;
    margin-right: 0.1rem;
  }

  .caution-notes p {
    font-size: 3.25vw;
    line-height: 4.5vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
  }
  .caution-notes span {
    font-size: 3.75vw;
    line-height: 4.5vw;
  }
  .booking-button-wrapper {
    width: 50%;
    /* height: 30rem; */
  }
  .onlinecontents-button-wrapper {
    width: 50%;
  }
  .booking-button {
    font-size: 3.75vw;
    line-height: 4.5vw;
  }
  .booking-button-caption {
    font-size: 3.25vw;
    line-height: 4.5vw;
  }

  .artists-header-namelist {
    font-size: 4.3vw;
  }
  .artist-box {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    margin-bottom: 0.6rem;
  }
  .artist-name {
    font-size: 6vw;
    margin-top: 0.1vw;
  }

  .name {
    font-size: 3vw;
  }

  .modal-content {
    background: #fff;
    left: 1rem;
    width: calc(100vw - 3rem);
    top: 1rem;
  }
  .modal-content .closebutton img {
    right: 2.5rem;
    bottom: calc(20vh - 0.4rem);
  }
  .accordion .accordion-header {
    font-size: 3.75vw;
    line-height: 4.5vw;
  }
  .accordion .accordion-header p {
    width: 100%;
    font-size: 3.25vw;
    line-height: 4.5vw;
  }
}

/* ipadサイズ調整 */
@media screen and (max-width: 768px) {
  .middle-artists {
    width: 100%;
  }
  .artists {
    width: 99%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}
